<div class="movies p-4">
  <ul class="list-unstyled m-0 p-0 gap-4">
    <% @movies.each do |movie| %>
      <li>
        <div class="card rounded-4 overflow-hidden">
          <img src="<%= movie.poster_url %>" class="card-img-top" alt="Poster of <%= movie.title %>">
          <div class="card-body">
            <h6><%= movie.title %></h6>
            <p class="card-overview text-secondary"><%= truncate(movie.overview, length: 100) %></p>
            <div class="text-info d-flex align-items-center gap-2">
              <i class="fa-solid fa-star"></i>
              <span><%= movie.rating %></span>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  </div>
